In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
import re

In [49]:
available_ip = pd.read_csv('available_input.csv')
available_ip = available_ip.drop(available_ip.columns[0], axis=1)
available_op = pd.read_csv('available_output.csv')
available_op = available_op.drop(available_op.columns[0], axis = 1)
available_op

        VALUE
0     12500.0
1     14300.0
2     16300.0
3     10200.0
4     12200.0
...       ...
1831  16600.0
1832  17500.0
1833  21700.0
1834  20800.0
1835  28900.0

[1836 rows x 1 columns]

In [50]:
available_ip["average_precipitation_days"] = [re.sub(r'[^\x00-\x7F]+', '-',x) for x in available_ip["average_precipitation_days"]]
available_ip["average_precipitation_days"] = available_ip["average_precipitation_days"].astype(float)
available_ip

,Year,Month,Count,average_high_celsius,daily_mean_celsius,average_low_celsius,average_precipitation_mm,average_precipitation_days,average_relative_hummidity,VALUE,...,Germany,Italy,Netherlands,Poland,Portugal,Spain,Switzerland,UAE,UK,US
0,2010,1,0,17.5,8.1,5.3,2.4,-15.6,62.6,12500.0,...,0,0,0,0,0,0,0,0,0,0
1,2010,2,0,18.1,8.3,5.3,2.3,-13.4,48.8,14300.0,...,0,0,0,0,0,0,0,0,0,0
2,2010,3,54,23.4,10.2,6.8,3.4,-9.8,52.7,16300.0,...,0,0,0,0,0,0,0,0,0,0
3,2010,4,0,22.7,12.1,8.3,4.6,-7.2,54.1,10200.0,...,0,0,0,0,0,0,0,0,0,0
4,2010,5,37,26.8,14.8,10.9,6.9,-5.6,59.5,12200.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,2022,5,0,26.8,14.8,10.9,6.9,-5.6,59.5,16600.0,...,0,0,0,0,0,0,0,1,0,0
1832,2022,6,0,28.7,17.6,13.6,9.6,-0.7,66.7,17500.0,...,0,0,0,0,0,0,0,1,0,0
1833,2022,7,0,33.1,19.5,15.6,11.7,1.8,56.2,21700.0,...,0,0,0,0,0,0,0,1,0,0
1834,2022,8,0,30.6,19.2,15.3,11.5,0.6,73.3,20800.0,...,0,0,0,0,0,0,0,1,0,0
1835,2022,9,0,27.6,17.0,13.4,9.8,-1.7,59.5,28900.0,...,0,0,0,0,0,0,0,1,0,0

In [51]:
c_range = [ 1, 10, 100, 1000, 10000]
for C in c_range:
    lasso_model = linear_model.Lasso(alpha = 1/(2*C))
    lasso_model.fit(available_ip, available_op)
    print("C=", C)
    print(lasso_model.coef_)
    print(lasso_model.intercept_)

C= 1
[-0.  0.  0.  0.  0.  0.  0.  0.  0.  1. -0. -0. -0. -0. -0. -0. -0.  0.
 -0. -0.  0.  0.]
[2.21998198e-06]
C= 10
[-0.  0.  0.  0.  0.  0.  0.  0.  0.  1. -0. -0. -0. -0. -0. -0. -0.  0.
 -0. -0.  0.  0.]
[2.21989467e-07]
C= 100
[-0.00000000e+00  9.58860071e-03  4.96806734e-05  1.20240866e-02
  2.09234646e+00 -3.87738528e+00  1.83728860e+00 -7.22939360e-02
  4.38514886e-03  9.99999982e-01 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00]
[-2.47959485]
C= 1000
[-3.11622391e-04  8.72613505e-03  1.78175338e-05  3.18521998e-02
  2.35562412e+00 -4.52093020e+00  2.21713303e+00 -8.29664967e-02
  4.69033376e-03  9.99999969e-01 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  6.85903744e-03  0.00000000e+00]
[-2.00565754]
C= 10000
[-4.38056161e-04  8.64611350e-03 -4.58548322e-06  3.39815613e-02
  2.38208384e+00 -4.58546804e+00  2.25532534e+00 -8.40807101e-02
  4.72778582e-03  9.99999912e-01 -1.78948516e-03  2.58621920e-03
  1.66184458e-03  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -2.13798105e-04  7.52950801e-03 -1.93695878e-03 -1.44571740e-03
  3.93638884e-02  4.09529355e-03]
[-1.76977529]