## Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import re
import random
from sklearn.model_selection import KFold
from sklearn.svm import SVR
 

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn import tree
from sklearn.neighbors import KNeighborsRegressor

from sklearn.model_selection import RepeatedKFold, GridSearchCV, cross_val_score

from sklearn.ensemble import BaggingRegressor, StackingRegressor, VotingRegressor

from numpy import mean
import scipy
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

In [2]:
random.seed(111)

# Reading Data

In [3]:
available_ip = pd.read_csv('available_input_corr.csv')
available_ip = available_ip.drop(available_ip.columns[0], axis=1)
available_op = pd.read_csv('available_output_corr.csv')
available_op = available_op.drop(available_op.columns[0], axis = 1)
available_ip

,Count,average_high_celsius,average_low_celsius,daily_mean_celsius,Month_Apr,Month_Aug,Month_Dec,Month_Feb,Month_Jan,Month_Jul,...,Country_Germany,Country_Italy,Country_Netherlands,Country_Poland,Country_Portugal,Country_Spain,Country_Switzerland,Country_UAE,Country_UK,Country_US
0,54.0,17.5,5.3,8.1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,54.0,18.1,5.3,8.3,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,54.0,23.4,6.8,10.2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14.0,22.7,8.3,12.1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,14.0,26.8,10.9,14.8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,21.0,26.8,10.9,14.8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1832,21.0,28.7,13.6,17.6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1833,21.0,33.1,15.6,19.5,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1834,21.0,30.6,15.3,19.2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1835,21.0,27.6,13.4,17.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## Normalisation of data

In [4]:
X_train, X_test, y_train, y_test = train_test_split(available_ip, available_op, test_size = 0.2, random_state = 111)

scaler_feature = StandardScaler()
scaler_label = StandardScaler()
scaled_train_feature = scaler_feature.fit_transform(X_train)
scaled_train_label = scaler_label.fit_transform(y_train)
scaled_test_feature = scaler_feature.fit_transform(X_test)
scaled_test_label = scaler_label.fit_transform(y_test)

## Applying Linear Regression to train the model

In [5]:
Linear_Regression_Model = LinearRegression()
val_score = cross_val_score(Linear_Regression_Model, scaled_train_feature, scaled_train_label, cv = 5)
print(f'Cross Validation Score for LR is: {np.array(val_score).mean()}')

Cross Validation Score for LR is: 0.7698085652862572

## Applying Support Vector Regression to train the model

In [6]:
SVR_Model = SVR(kernel='rbf')

val_score = cross_val_score(SVR_Model, scaled_train_feature, scaled_train_label, cv = 5)
print(f'Cross Validation Score for SVR is: {np.array(val_score).mean()}')

Cross Validation Score for SVR is: 0.8351067551651358