In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [14]:
available_ip = pd.read_csv('available_input.csv')
available_ip = available_ip.drop(available_ip.columns[0], axis = 1)
available_ip = available_ip.drop(available_ip.columns[3], axis = 1)
available_op = pd.read_csv('available_output.csv')
available_op = available_op.drop(available_op.columns[0], axis = 1)
available_ip

,Year,Month,Count,average_high_celsius,daily_mean_celsius,average_low_celsius,average_precipitation_mm,average_precipitation_days,average_relative_hummidity
0,2010,1,0,17.5,8.1,5.3,2.4,−15.6,62.6
1,2010,2,0,18.1,8.3,5.3,2.3,−13.4,48.8
2,2010,3,54,23.4,10.2,6.8,3.4,−9.8,52.7
3,2010,4,0,22.7,12.1,8.3,4.6,−7.2,54.1
4,2010,5,37,26.8,14.8,10.9,6.9,−5.6,59.5
...,...,...,...,...,...,...,...,...,...
1831,2022,5,0,26.8,14.8,10.9,6.9,−5.6,59.5
1832,2022,6,0,28.7,17.6,13.6,9.6,−0.7,66.7
1833,2022,7,0,33.1,19.5,15.6,11.7,1.8,56.2
1834,2022,8,0,30.6,19.2,15.3,11.5,0.6,73.3
1835,2022,9,0,27.6,17.0,13.4,9.8,−1.7,59.5

In [ ]:
available_ip['average_precipitation_days'] = available_ip['average_precipitation_days'].str.replace('\n','').str.replace(r"\(.*\)","")

In [34]:
available_ip["average_precipitation_days"] = pd.to_numeric(available_ip["average_precipitation_days"], errors='coerce')
available_ip

,Year,Month,Count,average_high_celsius,daily_mean_celsius,average_low_celsius,average_precipitation_mm,average_precipitation_days,average_relative_hummidity
0,2010,1,0,17.5,8.1,5.3,2.4,NaN,62.6
1,2010,2,0,18.1,8.3,5.3,2.3,NaN,48.8
2,2010,3,54,23.4,10.2,6.8,3.4,NaN,52.7
3,2010,4,0,22.7,12.1,8.3,4.6,NaN,54.1
4,2010,5,37,26.8,14.8,10.9,6.9,NaN,59.5
...,...,...,...,...,...,...,...,...,...
1831,2022,5,0,26.8,14.8,10.9,6.9,NaN,59.5
1832,2022,6,0,28.7,17.6,13.6,9.6,NaN,66.7
1833,2022,7,0,33.1,19.5,15.6,11.7,1.8,56.2
1834,2022,8,0,30.6,19.2,15.3,11.5,0.6,73.3
1835,2022,9,0,27.6,17.0,13.4,9.8,NaN,59.5

In [30]:
c_range = [ 1, 10, 100, 1000, 10000]
for C in c_range:
    lasso_model = linear_model.Lasso(alpha = 1/(2*C))
    lasso_model.fit(available_ip, available_op)
    print("C=", C)
    print(lasso_model.coef_)
    print(lasso_model.intercept_)

ValueError: could not convert string to float: '−15.6'

In [29]:
available_ip["average_precipitation_days"] = [x.replace('\U00002013', '-') for x in available_ip["average_precipitation_days"]]

str